.collapsed {
    flex-grow: 0 !important;
}

.collapsed .CodeMirror-scroll {
    position: absolute;
}

.resize {
    height: 15px;
    background-color: transparent;
    color: white;
}

.resizebtn {
    background-color: transparent;
    border: none;
}
