@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500&display=swap');


body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(to left, #96A6BF, #63738C);
    box-shadow: inset 0 0 1px 1px #5C6670;
}
  
body::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
    box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0,0,0,0.3)
}
  
body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to left, #8391A6, #536175);
}


body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.top-panel {
    overflow: scroll;
    background-color: #0e0e0e;
    border-bottom: 3px dotted rgb(47, 47, 47);
}

.panel {
    height: 50vh;
    display: flex;
}

.panel::-webkit-scrollbar {
    width: 0.25rem;
}

.panel::-webkit-scrollbar-track {
    background: #1e1e24;
}

.panel::-webkit-scrollbar-thumb {
    background: #6649b8;
}

.bottom-panel {
    // margin-top: 1vh;
    height: 100vh;
    background-color: white;
}

.container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: .3rem;
    background-color: #0e0e0e;
    height: 97%;
}

.CodeMirror {
    height: 100% !important;
}

.title {
    display: flex;
    justify-content: space-between;
    background-color: #292929;
    color: #d6e0f0;
    padding: .5rem .5rem .5rem 1rem;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}

.code {
    flex-grow: 1;
    overflow: hidden;
}

.cke_reset_all .CodeMirror-scroll * {
    white-space: pre;
}